server-side/target/
server-side/.idea/
server-side/.classpath
server-side/.project
server-side/.settings/
server-side/.vscode/
server-side/*.iml

server-side/logs/
server-side/*.log

server-side/.mvn/
server-side/mvnw
server-side/mvnw.cmd

server-side/.mvn/wrapper/maven-wrapper.jar

client-side/node_modules/
client-side/dist/
client-side/dist-ssr/
client-side/.vite/
client-side/.idea/
client-side/.vscode/
client-side/.env.local
client-side/.env.production.local
client-side/.env.development.local

client-side/logs
client-side/*.log
client-side/npm-debug.log*
client-side/yarn-debug.log*
client-side/yarn-error.log*
client-side/pnpm-debug.log*
client-side/lerna-debug.log*

client-side/.vscode/*
!client-side/.vscode/extensions.json
client-side/.idea
client-side/.DS_Store
client-side/*.suo
client-side/*.ntvs*
client-side/*.njsproj
client-side/*.sln
client-side/*.sw?

.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

ehthumbs.db
Icon?
Desktop.ini

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env